
<form action="/UploadExcel/add" method="POST" enctype="multipart/form-data">
 <select  id="tipotabla" name="tipotabla">
    <option value="1">Compras</option>
    <option value="2">Ventas</option>
    
</select><br>

<input type="number" name="nrohoja" placeholder="1" value="1"/>
<br>
 <input type="file" name="avatar" />

<button class="btn btn-success btn-block">
Save
</button>

</br>
</form>
