<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/About">
      <i class="fas fa-link" style="margin-left:20px" > </i> ENVAPORT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        {{#if user.isAdmin}}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Reportes 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Manager/Comercial">Comercial</a>
                <a class="dropdown-item" href="/Manager/Contaduria">Financiero</a>
                <a class="dropdown-item" href="/Manager/Produccion">Almacen</a>
               
               </div>
            </li>
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manager 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Manager">All Manager</a>
                <a class="dropdown-item" href="/Manager/add">Add a Manager</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Worker 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Worker">All Worker</a>
                <a class="dropdown-item" href="/Worker/add">Add a Worker</a>
               
              </div>
            </li>
<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                USER 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users">All users</a>
                
              
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Upload datos 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Excel">All files - not working</a>
                <a class="dropdown-item" href="/Uploadexcel">Add an excel file</a>
                <a class="dropdown-item" href="/Excel">Clean files - not working</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                Links  
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/links">All Links</a>
                <a class="dropdown-item" href="/links/add">Add a Links</a>
              </div>
            </li>

       
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
         {{/if}}
         {{#if user.isManager}}
         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Worker 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Worker">All Worker</a>
                <a class="dropdown-item" href="/Worker/add">Add a Worker</a>
               </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Upload datos 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Excel">All files - not working</a>
                <a class="dropdown-item" href="/UploadExcel">Add an excel file</a>
                <a class="dropdown-item" href="/Excel">Clean files - not working</a>
              </div>
            </li>
         
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Reportes 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Manager/Comercial">Comercial</a>
                <a class="dropdown-item" href="/Manager/Contaduria">Financiero</a>
                <a class="dropdown-item" href="/Manager/Produccion">Almacen</a>
               
               </div>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
         
         {{/if}}
          {{#if user.isWorker}}
        
          <li class="nav-item">
          <a class="nav-link" href="/Worker/Reporte">Reporte</a>
        
       
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
         
        
          {{/if}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">SignIn</a>
       
        {{/if}}
      </ul>
    </div>
  </div>
</nav>