    
<button id="download">DESCARGAR PDF</button>
<div id="pdf" >
<iframe width="1360" height="510" src="https://app.powerbi.com/reportEmbed?reportId=354169df-a36c-4428-9c5a-86b9424ade49&autoAuth=true&ctid=51cbf010-c96e-46b6-8dcd-5437032bb8fb&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

</div>


