<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/users/edit/{{users.id}}" method="POST">
            <div class="form-group">
          Username
          <input type="text" name="Nombre" class="form-control" value="{{users.username}}"/>
        </div>
        <div class="form-group">
         
  <div class="form-group">
          Fullname
          <input type="text" name="Apellido" class="form-control" value="{{users.fullname}}"/>
        </div>

      
    

                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                   
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>